.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .sidebar {
        width: 250px;
        background-color: #343a40;
        color: #fff;
        padding: 20px;
      }